<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Document

    body
        header.hero
            .hero__top
                .contacts.contacts--hero
                    p.contacts__address Минск <br> пр-т Джержинского, 11
                    a(href="+79876543210").contacts__phone +7 987 654 32 10
                
                .hero__nav
                    nav.main-nav
                        ul.main-nav__list
                            li.main-nav__item: a(href="#").main-nav__link О нас
                            li.main-nav__item: a(href="#").main-nav__link Услуги
                            li.main-nav__item: a(href="#").main-nav__link Прайс
                            li.main-nav__item: a(href="#").main-nav__link Мастера

                .menu-button.menu-button--close
                    .menu-button__middle

            .hero__content
                p.hero__intro Традиции британских барбершопов на современном уровне.<br><br>Для вас. В Минске.

                .hero__logo
                    .logo
                        .logo__image
                            img(src="/img/bb-logo.png", alt="Black Bird barbershop logo")
                            h1.logo__title Black Bird<br><span>Barbershop<span>

                .hero__cta
                    a.button(href="#") Записаться

        main
            section.featured
                header.featured__header
                    h2.featured__title Особенности барбершопа Black Bird

                article.feature
                    h3.feature__header Барбершоп из Туманного Альбиона
                    p.feature__text Место в котором царит атмосфера и дух классической британской мужской парикмахерской

                article.feature
                    h3.feature__header Команда профессионалов
                    p.feature__text Опытные барберы под руководством шеф-мастера

                article.feature
                    h3.feature__header Больше, чем парикмахерская
                    p.feature__text Территория для общения полезных деловых знакомств и душевного отдыха

            section.about
                .about__image
                    img(src="/img/1.jpg", alt="Интерьер барбершопа Black Bird в Минске")

                .about__content
                    h2.about__title О нас
                    p.about__subtitle Мы уверены, что стрижем мужчин и ровняем бороды лучше всех в Минске.
                    .about__text
                        p Black Bird Barbershop - это настоящий мужской клуб, где всегда открыты для дружелюбного общения. К нам приходят не только за качественной стрижкой, но и за атмосферой.
                        p Это не салон красоты в обычном понимании, где обслуживают представителей обоих полов, и не мужская парикмахерская, а своего рода клуб, где мужчины могут привести себя в порядок подальше от любопытных женских глаз, пообщаться с единомышленниками и просто выпить хороший виски или закурить сигару.

            section.benefits
                .benefits__header
                    h2.benefits__title Почему вам стоит выбрать именно нас?
                    p.benefits__subtitle Всё просто...

                .benefits__content
                    article.benefit
                        .benefit__logo
                            img(src="/img/masters.svg", alt="Качество")

                        .benefit__description
                            p.benefit__text Опытные мастера и лучшее оборудование

                    article.benefit
                        .benefit__logo
                            img(src="/img/parking.svg", alt="Парковка")

                        .benefit__description
                            p.benefit__text Удобное расположение и бесплатный паркинг

                    article.benefit
                        .benefit__logo
                            img(src="/img/masters.svg", alt="")

                        .benefit__description
                            p.benefit__text Опытные мастера и лучшее оборудование

                    article.benefit
                        .benefit__logo
                            img(src="/img/parking.svg", alt="")

                        .benefit__description
                            p.benefit__text Удобное расположение и бесплатный паркинг

            //- Check later
            section.price-list
                .price-list__header
                    h2.price-list__title Прайс-лист
                
                .price-list__content
                    table.price-table
                        caption.price-table__caption Основные услуги:

                        tr.price-table__row
                            td.price-table__service Мужская стрижка
                            td.price-table__price 2000
                            td.price-table__description подбор стиля, мытьё головы, укладка
                        tr.price-table__row
                            td.price-table__service Стрижка детская
                            td.price-table__price 1400
                            td.price-table__description до 12 лет
                        tr.price-table__row
                            td.price-table__service Оформление бороды
                            td.price-table__price 1400
                        tr.price-table__row
                            td.price-table__service Королевское бритьё
                            td.price-table__price 1400
                            td.price-table__description голова или лицо
                        tr.price-table__row
                            td.price-table__service Мужская стрижка
                            td.price-table__price 2000
                            td.price-table__description подбор стиля, мытьё головы, укладка
                        tr.price-table__row
                            td.price-table__service Стрижка детская
                            td.price-table__price 1400
                            td.price-table__description до 12 лет
                        tr.price-table__row
                            td.price-table__service Оформление бороды
                            td.price-table__price 1400
                        tr.price-table__row
                            td.price-table__service Мужская стрижка
                            td.price-table__price 2000
                            td.price-table__description подбор стиля, мытьё головы, укладка
                        tr.price-table__row
                            td.price-table__service Мужская стрижка
                            td.price-table__price 2000
                            td.price-table__description подбор стиля, мытьё головы, укладка

                    table.price-table
                        caption.price-table__caption Комплексы:

                        tr.price-table__row
                            td.price-table__service Мужская стрижка
                            td.price-table__price 2000
                            td.price-table__description подбор стиля, мытьё головы, укладка
                        tr.price-table__row
                            td.price-table__service Стрижка детская
                            td.price-table__price 1400
                            td.price-table__description до 12 лет
                        tr.price-table__row
                            td.price-table__service Оформление бороды
                            td.price-table__price 1400
                        tr.price-table__row
                            td.price-table__service Королевское бритьё
                            td.price-table__price 1400
                            td.price-table__description голова или лицо
                        tr.price-table__row
                            td.price-table__service Мужская стрижка
                            td.price-table__price 2000
                            td.price-table__description подбор стиля, мытьё головы, укладка
                        tr.price-table__row
                            td.price-table__service Стрижка детская
                            td.price-table__price 1400
                            td.price-table__description до 12 лет
                        tr.price-table__row
                            td.price-table__service Оформление бороды
                            td.price-table__price 1400
                        tr.price-table__row
                            td.price-table__service Мужская стрижка
                            td.price-table__price 2000
                            td.price-table__description подбор стиля, мытьё головы, укладка
                        tr.price-table__row
                            td.price-table__service Мужская стрижка
                            td.price-table__price 2000
                            td.price-table__description подбор стиля, мытьё головы, укладка
                            
                .price-list__cta
                    a.button(href="#") Записаться

            section.team
                .team__header
                    h2.team__title Наши мастера

                .team__content
                    article.member
                        .member__photo
                            img(src="/img/Main Man.jpg", alt="")
                        .member__header
                            h3.member__name Даниил
                            p.member__about Барбер нового поколения, черпающий вдохновение из «старой школы» Главные принципы: чёткость и дерзость.
                            a.button(href="#") Записаться

                    article.member
                        .member__photo
                            img(src="#", alt="")
                        .member__header
                            h3.member__name Раф
                            p.member__about Барбер нового поколения, черпающий вдохновение из «старой школы» Главные принципы: чёткость и дерзость.
                            a.button(href="#") Записаться

                    article.member
                        .member__photo
                            img(src="#", alt="")
                        .member__header
                            h3.member__name Валера
                            p.member__about Барбер нового поколения, черпающий вдохновение из «старой школы» Главные принципы: чёткость и дерзость.
                            a.button(href="#") Записаться

            section.app-promo
                header.app-promo__header
                    h2.app-promo__title Мобильное приложение Black Bird

                .app-promo__img
                    img(src="/img/phone.png", alt="Мобильное приложение Black Bird")

                .app-promo__content
                    .app-promo__cta
                        p.app-promo__text Установи наше бесплатное мобильное приложение и получи специальную скидку
                    .app-promo__buttons
                        a.app-button(href="#") <i class="icon--apple"></i> download on the <span>App Store</span>
                        a.app-button(href="#") <i class="icon--googleplay"></i> get it on <span>Google Play</span>

            article.partners
                header.partners__header
                    h2.partners__title Партнёры

                .partners__content
                    article.partner
                        img(src="#", alt="")

                    article.partner
                        img(src="#", alt="")

                    article.partner
                        img(src="#", alt="")

            section.map

            section.contacts
                header.contacts__header
                    h2.contacts__title Контактная информация
                    
                .contacts__content
                    p.contacts__address Минск <br> пр-т Джержинского, 11
                    a.contacts__phone(href="tel:+79876543210") +7 987 654-32-10
                    p.contacts__time С 10:00 до 21:00 без перерывов и выходных

                .contacts__logo
                    img(src="#", alt="")

                .contacts__social
                    p.contacts__social-cta Присоединяйтесь к нам в социальных сетях. Узнавай новости первым, участвуй в специальных акциях нашего барбершопа.
                    ul.social
                        li.social__item
                            a.social__icon.icon--instagram(href="#") Instagram
                        li.social__item
                            a.social__icon.icon--vk(href="#") ВКонтакте

        footer.footer
            .footer__nav
                nav.main-nav
                    ul.main-nav__list
                        li.main-nav__item: a(href="#").main-nav__link О нас
                        li.main-nav__item: a(href="#").main-nav__link Услуги
                        li.main-nav__item: a(href="#").main-nav__link Прайс
                        li.main-nav__item: a(href="#").main-nav__link Мастера
            
            .footer__logo
                .logo
                    h.logo__title Black<br>Bird
                    p.logo__subtitle Barbershop

            .footer__legals
                p.footer__copyrights © Black Bird Barbershop. All rights reserved.
                a.footer__policy(href="#") Политика конфиденциальности

        script(src="main.js")