<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Document

    body
        header.hero
            .hero__top
                .contacts
                    p.contacts__address Минск <br> пр-т Джержинского, 11
                    p.contacts__phone +7 987 654 32 10
                
                .hero__nav
                    nav.main-nav
                        ul.main-nav__list
                            li.main-nav__item: a(href="#").main-nav__link О нас
                            li.main-nav__item: a(href="#").main-nav__link Услуги
                            li.main-nav__item: a(href="#").main-nav__link Прайс
                            li.main-nav__item: a(href="#").main-nav__link Мастера

                .menu-button.menu-button--close
                    .menu-button__middle

            .hero__content
                .intro
                    p.intro__text Традиции британских барбершопов на современном уровне. Для вас. В Минске.

                .hero__logo
                    a(href="#")
                        img(src="#", alt="")

                .franchise-name
                    h1.franchise-name__header Black Bird
                    p.franchise-name__subtitle Barbershop

            a.button(href="#") Записаться

        main
            section.handout
                .handout-item
                    h2.handout-item__header Барбершоп из Туманного Альбиона
                    p.handout-item__text Место в котором царит атмосфера и дух классической британской мужской парикмахерской

                .handout-item
                    h2.handout-item__header Команда профессионалов
                    p.handout-item__text Опытные барберы под руководством шеф-мастера

                .handout-item
                    h2.handout-item__header Больше чем парикмахерская
                    p.handout-item__text Территория для общения полезных деловых знакомств и душевного отдыха

            section.about 
                .about__image
                    img(src="#", alt="")
                
                .about__text
                    //- Уточнить формулировку
                    h2.about__title Мы уверены, что стрижем мужчин и ровняем бороды лучше всех в Минске.
                    p.about__explanation Black Bird Barbershop - это настоящий мужской клуб, где всегда открыты для дружелюбного общения. К нам приходят не только за качественной стрижкой, но и за атмосферой. Это не салон красоты в обычном понимании, где обслуживают представителей обоих полов, и не мужская парикмахерская, а своего рода клуб, где мужчины могут привести себя в порядок подальше от любопытных женских глаз, пообщаться с единомышленниками и просто выпить хороший виски или закурить сигару.

            section.advantages
                .advantages__header
                    header.section-header
                        h3.section-header__title Почему вам стоит выбрать именно нас?
                        p.section-header__subtitle Всё просто...

                .advantages__content
                    article.advantages-item
                        .advantages-item__logo
                            img(src="#", alt="")

                        .advantages-item__description
                            p.advantages-item__text Опытные мастера и лучшее оборудование

                    article.advantages-item
                        .advantages-item__logo
                            img(src="#", alt="")

                        .advantages-item__description
                            p.advantages-item__text Удобное расположение и бесплатный паркинг

                    article.advantages-item
                        .advantages-item__logo
                            img(src="#", alt="")

                        .advantages-item__description
                            p.advantages-item__text Опытные мастера и лучшее оборудование

                    article.advantages-item
                        .advantages-item__logo
                            img(src="#", alt="")

                        .advantages-item__description
                            p.advantages-item__text Удобное расположение и бесплатный паркинг

            section.price-list
                .price-list__header
                    h2.price-list__title Прайс-лист
                
                .price-list__content
                    table.price-table
                        caption.price-table__caption Основные услуги:

                        tr.price-table__row
                            td.price-table__service Мужская стрижка
                            td.price-table__price 2000
                            td.price-table__description подбор стиля, мытьё головы, укладка
                        tr.price-table__row
                            td.price-table__service Стрижка детская
                            td.price-table__price 1400
                            td.price-table__description до 12 лет
                        tr.price-table__row
                            td.price-table__service Оформление бороды
                            td.price-table__price 1400
                        tr.price-table__row
                            td.price-table__service Королевское бритьё
                            td.price-table__price 1400
                            td.price-table__description голова или лицо
                        tr.price-table__row
                            td.price-table__service Мужская стрижка
                            td.price-table__price 2000
                            td.price-table__description подбор стиля, мытьё головы, укладка
                        tr.price-table__row
                            td.price-table__service Стрижка детская
                            td.price-table__price 1400
                            td.price-table__description до 12 лет
                        tr.price-table__row
                            td.price-table__service Оформление бороды
                            td.price-table__price 1400
                        tr.price-table__row
                            td.price-table__service Мужская стрижка
                            td.price-table__price 2000
                            td.price-table__description подбор стиля, мытьё головы, укладка
                        tr.price-table__row
                            td.price-table__service Мужская стрижка
                            td.price-table__price 2000
                            td.price-table__description подбор стиля, мытьё головы, укладка

                    table.price-table
                        caption.price-table__caption Комплексы:

                        tr.price-table__row
                            td.price-table__service Мужская стрижка
                            td.price-table__price 2000
                            td.price-table__description подбор стиля, мытьё головы, укладка
                        tr.price-table__row
                            td.price-table__service Стрижка детская
                            td.price-table__price 1400
                            td.price-table__description до 12 лет
                        tr.price-table__row
                            td.price-table__service Оформление бороды
                            td.price-table__price 1400
                        tr.price-table__row
                            td.price-table__service Королевское бритьё
                            td.price-table__price 1400
                            td.price-table__description голова или лицо
                        tr.price-table__row
                            td.price-table__service Мужская стрижка
                            td.price-table__price 2000
                            td.price-table__description подбор стиля, мытьё головы, укладка
                        tr.price-table__row
                            td.price-table__service Стрижка детская
                            td.price-table__price 1400
                            td.price-table__description до 12 лет
                        tr.price-table__row
                            td.price-table__service Оформление бороды
                            td.price-table__price 1400
                        tr.price-table__row
                            td.price-table__service Мужская стрижка
                            td.price-table__price 2000
                            td.price-table__description подбор стиля, мытьё головы, укладка
                        tr.price-table__row
                            td.price-table__service Мужская стрижка
                            td.price-table__price 2000
                            td.price-table__description подбор стиля, мытьё головы, укладка

                a.button(href="#") Записаться

            section.team
                .team__header
                    h2.team__title Наши мастера

                .team__content
                    article.member
                        .member__photo
                            img(src="#", alt="")

                        .member__header
                            h3.member__name Даниил
                            p.member__about Барбер нового поколения, черпающий вдохновение из &#171;старой школы&#187; Главные принципы: чёткость и дерзость.
                            a.button(href="#") Записаться

                    article.member
                        .member__photo
                            img(src="#", alt="")

                        .member__header
                            h3.member__name Раф
                            p.member__about Барбер нового поколения, черпающий вдохновение из &#171;старой школы&#187; Главные принципы: чёткость и дерзость.
                            a.button(href="#") Записаться

                    article.member
                        .member__photo
                            img(src="#", alt="")

                        .member__header
                            h3.member__name Валера
                            p.member__about Барбер нового поколения, черпающий вдохновение из &#171;старой школы&#187; Главные принципы: чёткость и дерзость.
                            a.button(href="#") Записаться

            section.app-promo
                .app-promo__cta
                    p.app-promo__text Установи наше бесплатное мобильное приложение и получи специальную скидку

                .app-promo__buttons
                    a.app-button(href="#") <i class="icon--apple"></i> download on the <span>App Store</span>
                    a.app-button(href="#") <i class="icon--googleplay"></i> get it on <span>Google Play</span>

            section.partners
                .partners__header
                    h2.partners__title Партнёры

                .partners__content
                    .partner-item
                        img(src="#", alt="")

                    .partner-item
                        img(src="#", alt="")

                    .partner-item
                        img(src="#", alt="")

            section.map


        footer.footer
            .footer__info
                .footer__contacts
                    .contacts
                        p.contacts__address Минск <br> пр-т Джержинского, 11
                        p.contacts__phone +7 987 654 32 10

                .footer__openings
                    p.footer__time С 10:00 до 21:00 без перерывов и выходных

                .footer__logo
                    a(href="#")
                        img(src="#", alt="")

                .footer__social
                    p.footer__social-cta Присоединяйтесь к нам в социальных сетях. Узнавай новости первым, участвуй в специальных акциях нашего барбершопа.
                    ul.social.social--golden
                            li.social__item
                                a.social__icon.icon--instagram(href="#") Instagram
                            li.social__item
                                a.social__icon.icon--vk(href="#") ВКонтакте

                .footer__logo--raven
                    a(href="#")
                        img(src="#", alt="")

            .footer__bottom
                .footer__header
                    .franchise-name
                        h1.franchise-name__header Black Bird
                        p.franchise-name__subtitle Barbershop

                .footer__copyrights
                    p &copy; Black Bird Barbershop. All rights reserved.

                .footer__policy
                    a(href="#") Политика конфиденциальности









        script(src="main.js")