.about {
    // visual
    background-color: $black;
}

.about__image {
    // box model
    width: 100%;
    height: 100%;
}

.about__image img {
    // box model
    width: 100%;
    height: 100%;

    // visual
    object-fit: cover;
}

.about__content {
    // box model
    padding: 40px 25px;
}

.about__title {
    // hiding from view but not form robots
    // box model
    width: 1px;
    height: 1px;
    margin: -1px;

    // positioning
    position: absolute;
    clip: rect(0 0 0 0);
}

.about__subtitle {
    // box model
    margin: 0;
    margin-bottom: 35px;

    // typography
    color: $gamboge;
    font-family: $displayFont;
    font-size: 1.5rem;
    line-height: 1.5;
}

.about__text {

}

p {
    // typography
    color: $light;
    font-family: $textFont;
    font-size: 1rem;
    line-height: 1.75;
}