.about {
    // positioning
    position: relative;

    // visual
    background-color: $black;

    &::before {
        content: '';

        // positioning
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        // box model
        height: 20px;
        width: 100%;

        // visual
        background-image: url('./img/deco/orange-top-wave.svg');
        background-repeat: repeat-x;
        background-position: top center;
        background-size: 40px;

        @include atTablet {
            // visual
            background-size: 80px;
        }
    }

    &::after {
        content: '';

        // positioning
        position: absolute;
        bottom: -8px;

        // box model
        height: 40px;
        width: 100%;

        // visual
        background-image: url('./img/deco/white-bottom-flower.svg');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
    }
}

.about__image {
    // box model
    width: 100%;
    height: 100%;
}

.about__image img {
    // box model
    width: 100%;
    height: 100%;

    // visual
    object-fit: cover;
}

.about__content {
    // box model
    padding: 40px 25px;
}

.about__title {
    // hiding from view but not form robots
    // box model
    width: 1px;
    height: 1px;
    margin: -1px;

    // positioning
    position: absolute;
    clip: rect(0 0 0 0);
}

.about__subtitle {
    // box model
    margin: 0;
    margin-bottom: 35px;

    // typography
    color: $gamboge;
    font-family: $displayFont;
    font-size: 1.5rem;
    line-height: 1.5;
}

.about__text {

}

p {
    // typography
    color: $light;
    font-family: $textFont;
    font-size: 1rem;
    line-height: 1.75;
}