.app-promo {
    // positioning
    position: relative;

    // box model
    min-height: 370px;
    display: flex;
    align-items: flex-end;

    // visual
    background-color: $light;
    overflow: hidden;
    
    @include atTablet {
        // box model
        min-height: 460px;

        // visual
        background-image: url('./img/deco/app-bg.jpg');
        background-size: cover;
        background-position: center right;
    }

    @include atDesktopM {
        // box model
        min-height: 600px;
    }

    @include atDesktopL {
        // box model
        min-height: 640px;
        padding-left: calc((100% - 1380px) / 2);
    }
    
    &::before {
        content: '';
        
        // positioning
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        
        // box model
        height: 20px;
        width: 100%;
        
        // visual
        background-image: url('./img/deco/orange-top-wave.svg');
        background-repeat: repeat-x;
        background-position: top center;
        background-size: 40px;
    }
    
    &::after {
        content: '';

        // positioning
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;

        // box model
        height: 20px;
        width: 100%;

        // visual
        background-image: url('./img/deco/white-bottom-wave.svg');
        background-repeat: repeat-x;
        background-position: bottom center;
        background-size: 40px;
    }
}

.app-promo__header {
    // box model
    display: none;
}

.app-promo__image {
    // positioning
    position: absolute;
    left: 25px;
    bottom: -40px;
    z-index: 1;

    // box model
    height: 345px;

    // visual
    z-index: 1;

    @include atTablet {
        // positioning
        left: 50px;

        // box model
        height: 400px;
    }

    @include atDesktopM {
        // positioning
        left: 60px;

        // box model
        height: 500px;
    }

    @include atDesktopL {
        // positioning
        left: calc((100% - 1380px) / 2);

        // box model
        height: 600px;
    }
}

.app-promo__image img {
    // box model
    height: 100%;
}

.app-promo__content {
    
}

.app-promo__cta {
    // box model
    margin: 0;
    padding: 40px 25px;
    padding-left: 170px;
    padding-bottom: 20px;

    // typography
    color: $dark;
    font-family: $displayFont;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25;

    @include atTablet {
        // box model
        padding-left: 210px;
        padding-bottom: 30px;
        width: 450px;
    }

    @include atDesktopM {
        // box model
        width: 560px;
        padding-bottom: 40px;
        padding-left: 270px;

        // typography
        font-size: 1.75rem;
    }

    @include atDesktopL {
        // typography
        font-size: 2rem;
    }
}

.app-promo__buttons {
    // box model
    padding: 10px 25px;
    padding-left: 170px;
    padding-bottom: 15px;

    // visual
    background-color: $gamboge;
    z-index: 2;

    @include atTablet {
        // box model
        padding-left: 210px;
        padding-bottom: 20px;

        // visual
        background-color: transparent;
    }

    @include atDesktopM {
        // box model
        padding-left: 270px;
    }
}