.app-promo {
    // positioning
    position: relative;

    // box model
    min-height: 370px;
    display: flex;
    align-items: flex-end;

    // visual
    background-color: $light;
    background-image: url('./img/deco/orange-top-wave.svg');
    background-repeat: repeat-x;
    background-position: top center;
    background-size: 40px;
    overflow: hidden;

    &::after {
        content: '';

        // positioning
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;

        // box model
        height: 20px;
        width: 100%;

        // visual
        background-image: url('./img/deco/white-bottom-wave.svg');
        background-repeat: repeat-x;
        background-position: bottom center;
        background-size: 40px;
    }
}

.app-promo__header {
    // box model
    display: none;
}

.app-promo__image {
    // positioning
    position: absolute;
    left: 25px;
    bottom: -40px;
    z-index: 1;

    // box model
    height: 345px;

    // visual
    z-index: 1;

    img {
        // box model
        height: 100%;
    }
}

.app-promo__content {

}

.app-promo__cta {
    // box model
    margin: 0;
    padding: 40px 25px;
    padding-left: 170px;
    padding-bottom: 20px;

    // typography
    color: $dark;
    font-family: $displayFont;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25;
}

.app-promo__buttons {
    // box model
    padding: 10px 25px;
    padding-left: 170px;
    padding-bottom: 15px;

    // visual
    background-color: $gamboge;
    z-index: 2;
}