.benefits {
    // box model
    padding: 40px 25px;

    // visual
    background-color: $light;
}

.benefits__header {
    // box model
    padding: 15px 60px;
    margin-right: -25px;

    // margin-bottom: 35px;
    // padding-bottom: 20px;
    // padding-left: 60px;
    // padding-right: 70px;
    // padding-top: 20px;

    // visual
    background-color: $gamboge;
}

.benefits__title {
    // box model
    margin: 0;
    margin-bottom: 0.75em;

    // typography
    color: $black;
    font-family: $displayFont;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
}

.benefits__subtitle {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $displayFont;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.25rem;
}

.benefits__content {
    // box model
    margin: 0 auto;
    width: 220px;
    
    // typography
    text-align: center;
}