.benefit {
    // box model
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 260px;

    // typography
    text-align: center;
}

.benefit__icon {
    // box model
    margin-bottom: 10px;
}

.benefit__icon img {
    // box model
    height: 120px;
    width: 120px;
}

.benefit__text {
    // box model
    margin: 0;
    padding: 0 25px;

    // typography
    color: $black;
    font-size: 0.9rem;
    // font-weight: 600;
}