.benefits {
    // box model
    padding: 50px 25px;
    padding-bottom: 1px;

    // visual
    background-color: $light;
    background-image: url(./img/deco/b-pole.png), url('./img/deco/info-bottom-deco.svg');
    background-position: top 200px left -25px, top -20px center;
    background-repeat: no-repeat, repeat-x;
    background-size: 160px, 100px;

    @include atTablet {
        // box model
        padding: 50px;
    }
}

.benefits__header {
    // box model
    padding: 20px 70px;
    margin-right: -25px;
    margin-bottom: 30px;

    // visual
    background-color: $gamboge;
    background-image: url('./img/deco/white-side-wave.svg'), url('./img/deco/white-side-flower.svg');
    background-repeat: repeat-y, no-repeat;
    background-size: 6px, 50px;
    background-position: center left -1px, bottom left;
}

.benefits__title {
    // box model
    margin: 0;
    margin-bottom: 0.75em;

    // typography
    color: $black;
    font-family: $displayFont;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;

    @include atTablet {
        // typography
        font-size: 1.5rem;
    }
}

.benefits__subtitle {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $displayFont;
    font-size: 1.25rem;
    font-style: italic;
    line-height: 1.25rem;

    @include atTablet {
        // typography
        font-size: 1.75rem;
    }
}

.benefits__content {
    
}