.button {
    // box model
    display: inline-block;
    width: 200px;
    margin: 0 auto;

    // typography
    color: $light;
    font-family: $displayFont;
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    background-color: $gamboge;
    border-radius: 10px;
}