.contacts {
    // box model
    margin-bottom: 15px;

    // typography
    color: $light;
    font-family: $displayFont;
    font-size: 1rem;

    @include atDesktopS {
        // box model
        width: 250px;
    }

    @include atDesktopM {
        // box model
        width: 300px;
    }

    @include atDesktopL {
        // box model
        width: 350px;
    }
}

.contacts__address {
    // box model
    margin: 0;
    
    // typography
    font-family: $displayFont;
    font-style: italic;
    line-height: 1.125;

    @include atTablet {
        // typography
        font-size: 1.25rem;
        line-height: 1.25;
    }

    @include atDesktopS {
        // typography
        font-size: 1rem;
    }

    @include atDesktopM {
        // typography
        font-size: 1.25rem;
    }

    @include atDesktopL {
        // typography
        font-size: 1.5rem;
    }
}

.contacts__phone {
    // box model
    margin: 0;

    // typography
    color: $gamboge;
    font-weight: bold;
    line-height: 1.75;
    
    // visual
    text-decoration: none;

    @include atTablet {
        // typography
        font-size: 1.25rem;
        line-height: 1.5;
    }

    @include atDesktopS {
        // typography
        font-size: 1rem;
    }

    @include atDesktopM {
        // typography
        font-size: 1.25rem;
    }

    @include atDesktopL {
        // typography
        font-size: 1.5rem;
    }
}

.contacts__phone:hover {
    // typography
    color: $light;
}
