.contacts {
    // box model
    margin-bottom: 15px;

    // typography
    color: $light;
    font-family: $displayFont;
    font-size: 1rem;
}

.contacts__address {
    // box model
    margin: 0;
    
    // typography
    font-family: $displayFont;
    font-style: italic;
    line-height: 1.125;

    @include atTablet {
        // typography
        font-size: 1.25rem;
        line-height: 1.25;
    }
}

.contacts__phone {
    // box model
    margin: 0;

    // typography
    color: $light; 
    font-weight: bold;
    line-height: 1.75;
    
    // visual
    text-decoration: none;

    @include atTablet {
        // typography
        font-size: 1.25rem;
        line-height: 1.5;
    }
}