.contacts {
    // box model
    margin-bottom: 15px;

    // typography
    color: $light;
    font-family: $textFont;
    font-size: 1rem;

    &--hero {

    }
}

.contacts__address {
    // box model
    margin: 0;

    // typography
    line-height: 1.125;
}

.contacts__phone {
    // box model
    margin: 0;

    // typography
    color: $light; 
    font-weight: bold;
    line-height: 1.75;
    
    // visual
    text-decoration: none;
}

.contacts__time {

}

.contacts__logo {

}

.contacts__social {

}

.contacts__social-cta {
    
}