.ctcs {
    // box model
    padding: 40px 25px;
    padding-bottom: 80px;

    // visual
    background-color: $light;
    background-image: url('./img/deco/bird.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100px;

    @include atTablet {
        // box model
        display: flex;
        padding: 50px;
        padding-bottom: 30px;
        justify-content: space-around;
        min-height: 280px;

        // visual
        background-size: 140px;
    }
}

.ctcs__header {
    // typography
    text-align: center;

    @include atTablet {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.ctcs__title {
    // box model
    display: none;
}

.ctcs__address {
    // box model
    margin: 0;
    margin-bottom: 0.25em;

    // typography
    color: $dark;
    font-family: $displayFont;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25;

    @include atTablet {
        // typography
        font-size: 1.125rem;
        font-size: 1rem;
    }
}

.ctcs__phone {
    // box model
    display: block;
    margin: 0;
    padding-bottom: 40px;

    // typography
    color: $gamboge;
    font-family: $textFont;
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    
    // visual
    background-image: url('./img/deco/hr-orange.svg');
    background-repeat: no-repeat;
    background-position: bottom 12px center;
    background-size: 200px;
    
    @include atTablet {
        // box model
        padding-bottom: 60px;
        
        // typography
        font-size: 1rem;
        
        // visual
        background-position: bottom 22px center;
    }
}

.ctcs__time {
    // box model
    margin: 0;

    // typography
    color: $dark;
    font-family: $displayFont;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.125;

    @include atTablet {
        // typography
        font-size: 1.125rem;
        font-size: 1rem;
    }
}

.ctcs__logo {
    // positioning
    position: relative;
    z-index: 2;
    
    // box model
    margin: 10px auto;
    width: 200px;

    @include atTablet {
        // box model
        width: auto;
        flex-basis: 260px;
        margin: 0 -50px;
        margin-top: -80px;
    }
}

.ctcs__logo img {
    // box model
    width: 100%;
}

.ctcs__social {
    // box model
    margin-bottom: 20px;

    @include atTablet {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        flex-basis: 30%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 0;
    }
}

.ctcs__social-cta {
    // box model
    margin: 0 auto;
    margin-bottom: 20px;
    width: 280px;

    // typography
    color: $dark;
    font-family: $displayFont;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.125;
    text-align: center;

    @include atTablet {
        // box model
        width: auto;

        // typography
        font-size: 1rem;
    }
}