.featured {
    // box model
    padding: 50px;
    padding-bottom: 5px;

    // visual
    background-color: $gamboge;

    @include atDesktopL {
        // box model
        padding: 70px;
        padding-bottom: 20px;
    }
}

.featured__header {
    // box model
    // TODO: do this propper way
    display: none;
}

.featured__content {
    @include atDesktopS {
        // box model
        display: flex;
        justify-content: center;
        // align-items: center;
    }
}