.hero {
    // box model
    padding: 30px;
    padding-bottom: 60px;

    // visual
    background-color: $black;
}

.hero__nav {
    // visual
    display: none;
}

.hero__content {
    
}

.hero__intro {
    // box model
    margin-left: -30px;
    margin-bottom: 20px;
    padding: 20px 30px;
    padding-right: 70px;
    max-width: 345px;

    // visual
    background-color: $gamboge;
    background-image: url('./img/deco/black-side-wave.svg'), url('./img/deco/black-side-flower.svg');
    background-repeat: repeat-y, no-repeat;
    background-size: 10px, 70px;
    background-position: right center, right center;

    // typography
    color: $dark;
    font-family: $displayFont;
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.25;
    // font-weight: 400;
}

.hero__logo {
    // box model
    margin-bottom: 30px;
}

.hero__cta {
    // typography
    text-align: center;
}