.hero {
    // box model
    padding: 30px;

    // visual
    background-color: $black;
}

.hero__nav {
    // visual
    display: none;
}

.hero__content {
    
}

.hero__intro {
    // box model
    margin-left: -30px;
    margin-bottom: 40px;
    padding: 30px;
    padding-right: 70px;
    max-width: 345px;

    // visual
    background-color: $gamboge;

    // typography
    color: $dark;
    font-family: $displayFont;
    font-size: 1.25rem;
    font-weight: 700;
}

.hero__logo {
    // box model
    margin-bottom: 30px;
    
    // typography
    text-align: center;

    img {
    // box model
    width: 160px;
    height: 160px;
    }
}

.hero__cta {
    // typography
    text-align: center;
}