.hero {
    // box model
    padding: 30px;
    padding-bottom: 60px;

    // visual
    background-color: $black;
    background-image: url('./img/deco/orange-bottom-wave.svg');
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: 40px;

    @include atTablet {
        // visual
        background-color: $black;
        background-image: url('./img/hero-bg.jpg'), url('./img/deco/orange-bottom-wave.svg');
        background-repeat: no-repeat,repeat-x;
        background-position: bottom left, bottom center;
        background-size: cover, 40px;
    }
}

.hero__nav {
    // visual
    display: none;
}

.hero__content {
    
}

.hero__intro {
    // box model
    margin-left: -30px;
    margin-bottom: 20px;
    padding: 20px 30px;
    padding-right: 70px;
    max-width: 345px;

    // visual
    background-color: $gamboge;
    background-image: url('./img/deco/black-side-wave.svg'), url('./img/deco/black-side-flower.svg');
    background-repeat: repeat-y, no-repeat;
    background-size: 6px, 60px;
    background-position: center right, center right;

    // typography
    color: $dark;
    font-family: $displayFont;
    font-size: 1rem;
    font-style: italic;
    line-height: 1.25;
    // font-weight: 400;
}

.hero__intro em {
    // box model
    display: block;

    // typography
    text-align: right;
}

.hero__logo {
    // box model
    margin-bottom: 30px;
}

.hero__cta {
    // typography
    text-align: center;
}