.logo {

}

.logo__image {
    // box model
    margin: 0 auto;
    margin-bottom: 10px;
    width: 160px;
}

.logo__image img {
    // box model
    height: 100%;
    width: 100%;
}

.logo__title {
    // box model
    margin: 0 auto;
    margin-bottom: 10px;
    width: 260px;

    // typography
    color: $light;
    font-family: $displayFont;
    font-size: 2.25rem;
    // line-height: 65px;
    text-align: center;
    text-transform: uppercase;

}

.logo__title em {
    // box model
    display: block;

    // typography
    color: $gamboge;
    font-family: $textFont;
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.35em;
    text-transform: uppercase;
}