.partner {
    // box model
    display: inline-block;
    vertical-align: middle;
    height: 80px;
    margin: 20px;

    // visual
    opacity: 0.35;

    @include atTablet {
        // box model
        height: 100px;
    }

    @include atDesktopS {
        // box model
        height: 120px;
        margin: 30px;
    }
    
    @include atDesktopM {
        // box model
        height: 140px;
        margin: 15px 30px;
    }

    img {
        // box model
        height: 100%;
    }
}