.partners {
    // box model
    padding: 40px 25px;

    // visual
    background-color: #fff;
}

.partners__header {
    // box model
    margin-bottom: 40px;
}

.partners__title {
    // box model
    margin: 0;

    // typography
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.partners__content {
    // box model
    display: flex;
    justify-content: space-between;
}