.partners {
    // box model
    padding: 40px 25px;

    // visual
    background-color: $light;
}

.partners__header {
    // box model
    margin-bottom: 40px;
}

.partners__title {
    // box model
    margin: 0;
    margin-bottom: 1em;

    // typography
    color: $dark;
    font-family: $displayFont;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

.partners__content {
    // typography
    text-align: center;
}