.price-table {
    // box model
    margin-bottom: 40px;
    width: 100%;

    @include atDesktopS {
        // box model
        flex-basis: 45%;
    }
}

.price-table__caption {
    // box model
    margin-bottom: 15px;

    // typography
    color: $gamboge;
    font-family: $displayFont;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;

    @include atDesktopM {
        // typography
        font-size: 1.5rem;
        margin-bottom: 40px;
    }
}

.price-table__row {

}

.price-table__service {
    // box model
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;

    // typography
    color: $light;
    line-height: 1.5;
    font-size: 1rem;
    font-family: $displayFont;

    // visual
    border-bottom: 1px dotted rgba($light, 0.125);
    
    @include atDesktopM {
        // box model
        padding-top: 20px;

        // typography
        font-size: 1.125rem;
    }

    @include atDesktopL {
        // typography
        font-size: 1.25rem;
    }
}

.price-table__service em {
    // box model
    display: block;

    // typography
    color: rgba($gamboge, 0.75);
    font-size: 0.85em;
}

.price-table__price {
    // box model
    vertical-align: middle;

    // typography
    color: $light;
    font-family: $displayFont;
    text-align: right;

    // visual
    border-bottom: 1px dotted rgba($light, 0.125);

    @include atDesktopM {
        // typography
        font-size: 1.25rem;
    }

    @include atDesktopL {
        // typography
        font-size: 1.35rem;
    }
}

.price-table__description {
    // table
    column-span: 2;
}