.price-list {
    // box model
    padding: 40px 25px;

    // visual
    background-color: $black;
}

.price-list__header {
    // box model
    margin-bottom: 35px;
}

.price-list__title {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
}

.price-list__cta {
    // typography
    text-align: center;
}