.price-list {
    // box model
    padding: 60px 25px;

    // visual
    background-color: $black;
    background-image: url('./img/deco/white-top-flower.svg'), url('./img/deco/info-top-deco.svg'), url('./img/deco/orange-bottom-wave.svg');
    background-repeat: no-repeat, repeat-x, repeat-x;
    background-size: 120px, 100px, 40px;
    background-position: top 5px center, top center, bottom center;

    @include atTablet {
        // box model
        padding: 60px 50px;
    }

    @include atDesktopS {
        // box model
        padding-top: 80px;
    }

    @include atDesktopL {
        // box model
        padding: 60px calc((100% - 1400px) / 2);
    }
}

.price-list__header {
    // box model
    margin-bottom: 35px;

    @include atDesktopS {
        // box model
        margin-bottom: 60px;
    }
}

.price-list__title {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $displayFont;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;

    @include atDesktopM {
        // typography
        font-size: 2rem;
    }
}

.price-list__content {
    @include atDesktopS {
        // box model
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}

.price-list__cta {
    // typography
    text-align: center;
}