.price-table {
    // box model
    margin-bottom: 40px;
}

.price-table__caption {
    // box model
    margin-bottom: 15px;

    // typography
    color: $gamboge;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
}

.price-table__row {

}

.price-table__service {

}

.price-table__price {

}

.price-table__description {
    // table
    column-span: 2;
}