.price-table {
    // box model
    margin-bottom: 40px;
    width: 100%;
}

.price-table__caption {
    // box model
    margin-bottom: 15px;

    // typography
    color: $gamboge;
    font-family: $displayFont;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

.price-table__row {
    // box model
}

.price-table__service {
    // box model
    vertical-align: top;
    padding-bottom: 10px;
    padding-right: 10px;

    // typography
    color: $light;
    line-height: 1.5;
    font-size: 1rem;
    font-family: $displayFont;
}

.price-table__service em {
    // box model
    display: block;

    // typography
    color: rgba($gamboge, 0.75);
    font-size: 0.85rem;
}

.price-table__price {
    // box model
    vertical-align: top;

    // typography
    color: $light;
    font-family: $displayFont;
    text-align: right;
}

.price-table__description {
    // table
    column-span: 2;
}