.price-list {
    // box model
    padding: 40px 25px;
    padding-top: 60px;

    // visual
    background-color: $black;
    background-image: url('./img/deco/white-top-flower.svg'), url('./img/deco/info-top-deco.svg');
    background-repeat: no-repeat, repeat-x;
    background-size: 120px, 100px;
    background-position: top 5px center, top center;
}

.price-list__header {
    // box model
    margin-bottom: 35px;
}

.price-list__title {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
}

.price-list__cta {
    // typography
    text-align: center;
}