.team {
    // box model
    padding: 40px 25px;
    padding-bottom: 1px;

    // visual
    background-color: $gamboge;

    // box model
    padding: 50px;
}

.team__header {

}

.team__title {
    // box model
    margin: 0;
    margin-bottom: 2em;

    // typography
    color: $light;
    font-family: $displayFont;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

.team__content {
    @include atTablet {
        // box model
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}